# IDE/Editor


# Build/Project files
bin/
obj/


# Folders to ignore

/PythonApplication1/
/ClassLibrary1/
/test/            # If test/ is a local test folder

/.vs/DynamicDasboardWebAPI/FileContentIndex
/SQLDATA
