# IDE/Editor
.vs/
*.sln
*.slnLaunch.user

# Build/Project files
bin/
obj/


# Folders to ignore
/DeepSeekModel/
/PythonApplication1/
/ClassLibrary1/
/test/            # If test/ is a local test folder