<h3>DBMetaData</h3>
@* 
    Page: DBMetaData.razor
    Purpose: This page is used to display and manage database metadata.
    Functionalities:
    - Includes a script reference to Cytoscape.js for graph visualization.
    - Contains a code-behind section for handling page logic and data.
*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.0/cytoscape.min.js"></script>
@code {

}
